section.opa {
      background-image: linear-gradient(to right, rgb(0 0 0 / 90%), rgb(0 0 0 / 90%)),
      url(../assets/images/yahaya.png);
          background-size: cover;
          background-position: top;
          position: relative;
}

.events {
  background-image: linear-gradient(to right, rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(../assets/images/rally.png);
  background-size: cover;
  background-position: center;
}

.about {
  background-image: linear-gradient(to right, rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(../assets/images/yahaya3.png);
  background-size: cover;
  background-position: top top;
  background-repeat: no-repeat;
  position: relative
}