* {
  box-sizing: border-box;
}

.footer {
  background-color: #ababab;
  height: 50px;
  width: 100%;
 margin-bottom: 0; 
  
}

.footers {
  position:relative;
   margin-left: 600px;
   margin-top: 250px;
   
  padding: 20px;
}

